/* Waybar style configuration */
@import url("file:///etc/xdg/waybar/style.css");

* {
  font-size: 13px;
}

#memory {
  font-family: "Atkinson Hyperlegible";
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#cpu {
  font-family: "Atkinson Hyperlegible";
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  color: #ffffff;
}

#temperature {
  font-family: "Atkinson Hyperlegible";
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#scratchpad {
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #1e1e2e;
}

#workspaces {
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
}

#workspaces button.focused {
  color: #acaaaa;
  background-color: transparent;
  box-shadow: none;
}

window#waybar {
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
  border-bottom: none;
  /* background-color: transparent; */
}

#mpris {
  font-family: "Atkinson Hyperlegible";
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #1e1e2e;
}

#mpris.strawberry {
  color: #1e1e2e;
  background-color: #eaa221;
}

#mpris.paused {
  /* background-color: #d92f09; */
  background-color: #ff6961;
}

#custom-weather {
  font-family: "Atkinson Hyperlegible";
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #1e1e2e;
}

#idle_inhibitor {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #1e1e2e;
}

#backlight {
  padding-left: 10px;
  padding-right: 13px;
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #1e1e2e;
}

#bluetooth {
  font-family: "Atkinson Hyperlegible";
  padding-left: 7px;
  padding-right: 7px;
  color: #1e1e2e;
  background-color: #73af6f;
}

#bluetooth.connected {
  color: #ffffff;
  background-color: #08be8b;
}

#bluetooth.disabled {
  color: #ffffff;
  background-color: #ff6961;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #b9b9b9;
}

#pulseaudio {
  font-family: "Atkinson Hyperlegible";
}

#pulseaudio.muted {
  color: #ffffff;
  background-color: #ff6961;
}

#network {
  font-family: "Atkinson Hyperlegible";
}

#network.disconnected {
  color: #ffffff;
  background-color: #d92f09;
}

#clock {
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
}
